<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
  <img src="/Orca_V3.png">
  <br>
  <%= link_to 'New Sales Order', new_sales_order_path, {:class => 'btn btn-primary', :style => 'color: white'} %> |
  <%= link_to 'New Payment', new_payment_path, {:class => 'btn btn-primary', :style => 'color: white'} %>
  <br>
  <h3>Year-to-Date Outstanding</h3>

  <div class="col-md-4"></div>
  <table class="table-condensed table-striped">
    <thead>
    <tr>
      <th>State</th>
      <th>Total Sales Amount</th>
      <th>Outstanding Credit Amount</th>
    </tr>
    </thead>

    <tbody class="text-left">
    <% @outstanding.each do |state| %>
      <% if state.sales_due > 0.01 %>
        <tr>
          <td><%= state.state_name %></td>
          <td class="text-right"><%= to_indian_currency state.sales_amt %></td>
          <td class="text-right"><%= to_indian_currency state.sales_due %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>


<div class="col-md-4"></div>
  <br>
  <%= link_to 'Download as .xlsx', static_pages_home_path(:format => :xlsx), :class => "btn btn-primary", style: "color: white" %>
</div>

