<%= form_for(@customer_status) do |f| %>
  <% if @customer_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_status.errors.count, "error") %> prohibited this customer_status from being saved:</h2>

      <ul>
      <% @customer_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_desc %><br>
    <%= f.text_field :status_desc %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class =>"btn btn-primary", style: "color: white" %>
  </div>
<% end %>
