<p id="notice"><%= notice %></p>

<h1>Listing Customer Statuses</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Status Description</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customer_statuses.each do |customer_status| %>
      <tr>
        <td><%= customer_status.status_desc %></td>
        <td><%= customer_status.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', customer_status %></td>
        <td><%= link_to 'Restore', restore_customer_status_path(customer_status), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_customer_status_path(customer_status), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @customer_statuses, :model => 'customer_status' %>
  </div>
  <%= will_paginate @customer_statuses, :container => false %>
</div>

<br>

<%= link_to 'Active Customer Statuses', customer_statuses_path, :class =>"btn btn-primary", style: "color: white" %>
