<h1>Editing Customer Status</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer_status, :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', customer_statuses_path, :class =>"btn btn-primary", style: "color: white" %>
