<p id="notice"><%= notice %></p>

<h1>Listing Customer Statuses</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Status Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_statuses.each do |customer_status| %>
      <tr>
        <td><%= customer_status.status_desc %></td>
        <td><%= link_to 'Show', customer_status %></td>
        <td><%= link_to 'Edit', edit_customer_status_path(customer_status) %></td>
        <td><%= link_to 'Delete', customer_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @customer_statuses, :model => 'customer_status' %>
  </div>
  <%= will_paginate @customer_statuses, :container => false %>
</div>

<br>

<%= link_to 'New Customer status', new_customer_status_path, :class =>"btn btn-primary", style: "color: white" %>
<%= link_to 'Deleted', deleted_customer_statuses_path, :class =>"btn btn-primary", style: "color: white" %>
