<p id="notice"><%= notice %></p>

<p>
  <strong>Status desc:</strong>
  <%= @customer_status.status_desc %>
</p>

<%= link_to 'Edit', edit_customer_status_path(@customer_status), :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', customer_statuses_path, :class =>"btn btn-primary", style: "color: white" %>
