<%= form_for(@product_qty) do |f| %>
  <% if @product_qty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_qty.errors.count, "error") %> prohibited this product_qty from being saved:</h2>

      <ul>
      <% @product_qty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all, :id, :product_name %>
  </div>
  <div class="field">
    <%= f.label :qty_type_id, 'Quantity Type' %><br>
    <%= f.collection_select :qty_type_id, QtyType.all, :id, :qty_type_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Save Product Quantity", :class => 'btn btn-primary', style: "color: white"%>
  </div>
<% end %>
