<p id="notice"><%= notice %></p>

<h1>Listing Product Quantities</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Product</th>
    <th>Qty Type</th>
    <th>Description</th>
    <th>Deleted at</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @product_qties.each do |product_qty| %>
      <tr>
        <td><%= product_qty.product.product_name %></td>
        <td><%= product_qty.qty_type.qty_type_name %></td>
        <td><%= product_qty.description %></td>
        <td><%= product_qty.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', product_qty %></td>
        <td><%= link_to 'Restore', restore_product_qty_path(product_qty), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_product_qty_path(product_qty), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @product_qties, :model => 'product_qties' %>
  </div>
  <%= will_paginate @product_qties, :container => false %>
</div>

<br>

<%= link_to 'Active Product Quantities', product_qties_path, :class => 'btn btn-primary', style: "color: white" %>
