<h1>Editing Product Qty</h1>

<%= render 'form' %>

<%= link_to 'Show', @product_qty, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', product_qties_path, :class => 'btn btn-primary', style: "color: white" %>
