<p id="notice"><%= notice %></p>

<h1>Listing Product Quantities</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty Type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_qties.each do |product_qty| %>
      <tr>
        <td><%= product_qty.product.product_name %></td>
        <td><%= product_qty.qty_type.qty_type_name %></td>
        <td><%= product_qty.description %></td>
        <td><%= link_to 'Show', product_qty %></td>
        <td><%= link_to 'Edit', edit_product_qty_path(product_qty) %></td>
        <td><%= link_to 'Delete', product_qty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @product_qties, :model => 'product_qties' %>
  </div>
  <%= will_paginate @product_qties, :container => false %>
</div>

<br>

