<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= link_to @product_qty.product.product_name, product_path(@product_qty.product) %>
</p>

<p>
  <strong>Qty type:</strong>
  <%= @product_qty.qty_type.qty_type_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_qty.description %>
</p>

<%= link_to 'Edit', edit_product_qty_path(@product_qty), :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', product_qties_path, :class => 'btn btn-primary', style: "color: white" %>
