<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <% if current_user.email == @user.email %>
        <%= f.check_box :admin, :disabled => true %>
    <% else %>
        <%= f.check_box :admin %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "", {:class => 'btn btn-primary'} %>
  </div>
<% end %>
