<p id="notice"><%= notice %></p>

<h1>User Accounts</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th>Admin?</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><% if user.admin%>
              &#10004;
          <% else %>
              &#10007;
          <% end %>
        </td>
        <td><%= user.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Restore', restore_user_path(user), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_user_path(user), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users, :model => 'users' %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>

<br>

<h3><%= link_to 'Active Users', users_path, :class => 'btn btn-primary' %></h3>
