<p id="notice"><%= notice %></p>

<h1>User Accounts</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><% if user.admin %>
            &#10004;
        <% else %>
            &#10007;
        <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><% if !user.admin %>
              <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users, :model => 'users' %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>

<br>

<h3><%= link_to 'Create New ORCA User', new_user_invitation_path, :class => 'btn btn-primary', :style => 'color: white' %></h3>
<h3><%= link_to 'Archived Users', deleted_users_path, {:class => 'btn btn-primary', :style => 'color: white'} %></h3>
