<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <% if @user.admin %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Accepted Invitation:</strong>
  <% if @user.invitation_accepted_at || @user.email == 'jebradham@uh.edu' || @user.email == "orcauser@oceanagro.com" %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', users_path, :class => "btn btn-primary", style: "color: white" %>
