<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.collection_select :country_id, Country.all, :id, :country_name %>
  </div>
  <div class="field">
    <%= f.label :state_name, 'State Name' %><br>
    <%= f.text_field :state_name %>
  </div>
  <div class="field">
    <%= f.label :state_abbv, 'State Abbreviation' %><br>
    <%= f.text_field :state_abbv %>
  </div>
  <div class="actions">
    <%= f.submit "Save State", :class => "btn btn-primary", style: "color: white"%>
  </div>
<% end %>
