<p id="notice"><%= notice %></p>

<h1>Listing States</h1>

<table>
  <thead>
  <tr>
    <th>Country</th>
    <th>State Name</th>
    <th>State Abbreviation</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @states.each do |state| %>
      <tr>
        <td><%= state.country.country_name %></td>
        <td><%= state.state_name %></td>
        <td><%= state.state_abbv %></td>
        <td><%= state.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Restore', restore_state_path(state), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_state_path(state), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @states, :model => 'states' %>
  </div>
  <%= will_paginate @states, :container => false %>
</div>

<br>

<%= link_to 'Active States', states_path, :class => "btn btn-primary", style: "color: white" %>
