<h1>Editing State</h1>

<%= render 'form' %>

<%= link_to 'Show', @state, :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', states_path, :class => "btn btn-primary", style: "color: white" %>
