<p id="notice"><%= notice %></p>

<h1>Listing States</h1>

<table class="table-striped table-condensed">
  <thead>
    <tr>
      <th>Country</th>
      <th>State Name</th>
      <th>State Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.country.country_name %></td>
        <td><%= state.state_name %></td>
        <td><%= state.state_abbv %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Delete', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @states, :model => 'states' %>
  </div>
  <%= will_paginate @states, :container => false %>
</div>

<br>

