<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @state.country.country_name %>
</p>

<p>
  <strong>State Name:</strong>
  <%= @state.state_name %>
</p>

<p>
  <strong>State Abbreviation:</strong>
  <%= @state.state_abbv %>
</p>

<%= link_to 'Edit', edit_state_path(@state), :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', states_path, :class => "btn btn-primary", style: "color: white" %>