<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name, 'Customer Name' %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label 'Status' %><br>
    <%= f.collection_select :customer_status_id, CustomerStatus.all, :id, :status_desc %>
  </div>
  <div class="field">
    <%= f.label 'Country' %><br>
    <%= f.collection_select :country_id, @countries, :id, :country_name, {include_blank: true} %>
    </div>
  <div class="field">
    <%= f.label 'State' %><br>
    <%= f.grouped_collection_select :state_id, @countries, :states, :country_name, :id, :state_name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :phone_number, 'Phone Number' %><br>
    <%= f.text_field :phone_number %>
  </div>

  <h2>Add Contacts</h2>
  <div id='contacts'>
    <%= f.fields_for :contacts do |contact| %>
        <%= render 'contact_fields', :f => contact %>
    <% end %>
    <div class='links'>
      <h3><%= link_to_add_association 'Add A Line', f, :contacts, :class =>"btn btn-primary", style: "color: white" %></h3>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save Customer", :class =>"btn btn-primary", style: "color: white" %>
  </div>
<% end %>
