<div class="field customer">
  <label id="cust_status_label">Customer Status</label>
  <input readonly="readonly" type="text" id="cust_status" value="<%= @customer.customer_status.status_desc %>">
</div>
<div class="field customer">
  <label id="cust_credit_label">Current Outstanding Credit</label>
  &#8377;<input readonly="readonly" type="text" id="cust_credit" value="<%= '%.2f' % @customer.credit %>">
</div>