<h1>Editing Customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer, :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', customers_path, :class =>"btn btn-primary", style: "color: white" %>
