<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Country</th>
      <th>State</th>
      <th>Phone Number</th>
      <th># of Orders</th>
      <th>Status</th>
      <th>Credit Outstanding</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.country.country_name %></td>
        <td><%= customer.state.state_name %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.sos %></td>
        <td><%= customer.customer_status.status_desc %></td>
        <td class="text-right"><%= to_indian_currency customer.credit %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @customers, :model => 'customers' %>
  </div>
  <%= will_paginate @customers, :container => false %>
</div>

<br>

<%= link_to 'Download as .xlsx', customers_path(:format => :xlsx), :class =>"btn btn-primary" %>