<p id="notice"><%= notice %></p>

<h1><%= @customer.customer_name %></h1>

<%= link_to 'Edit', edit_customer_path(@customer), :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back to Customers Listing', customers_path, :class =>"btn btn-primary", style: "color: white" %>

<p>
<h3>Status:</h3>
<%= @customer.customer_status.status_desc %>
</p>

<p>
<h3>Credit:</h3>
<%= to_indian_currency @customer.credit %>
</p>

<p>
<h3>Location:</h3>
<%= @customer.state.state_name %>, <%= @customer.state.country.country_name %>

<p>
  <h3>Phone number:</h3>
  <%= @customer.phone_number %>
</p>


<h2>Contacts</h2>
<table class="table-striped table-condensed">
  <thead>
  <tr>
    <th>Contact Name</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @customer.contacts.each do |contact| %>
      <tr>
        <td><%=contact.contact_name %></td>
        <td><%= contact.try :phone_number %></td>
        <td><%= contact.try :email %></td>
      </tr>
  <% end %>
  <% if @customer.contacts.length == 0 %>
      <tr>
        <td colspan="3">There are no contacts on record for this customer.</td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Sales Orders</h2>
<table class="table-striped table-condensed">
  <thead>
  <tr>
    <th><%= 'Order Status' %></th>
    <th><%= 'Sales Person' %></th>
    <th><%= 'Approved' %></th>
    <th><%= 'Order Date' %></th>
    <th><%= 'Due in Full Date' %></th>
    <th><%= 'Order Total' %></th>
    <th><%= 'Balance Due' %></th>
    <th><%= 'Balance Received' %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.sales_order_status.status_desc %></td>
        <td><%= sales_order.sales_person.full_name %></td>
        <td>
          <% if sales_order.is_approved %>
              &#10004;
          <% else %>
              &#10007;
          <% end %>
        </td>
        <td><%= l sales_order.order_date %></td>
        <td><%= l sales_order.order_due_in_full_date %></td>
        <td><%= to_indian_currency sales_order.order_grand_total %></td>
        <td><%= to_indian_currency sales_order.order_balance_due %></td>
        <td><%= to_indian_currency sales_order.order_balance_received %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
        <td><%= link_to 'Delete', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <% if @customer.sales_orders.length == 0 %>
    <tr>
      <td colspan="8">There are no sales orders on record for this customer.</td>
    </tr>
  <% end %>
  </tbody>
</table>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_orders, :model => 'sales_orders' %>
  </div>
  <%= will_paginate @sales_orders, :container => false %>
</div>