<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :customer_name) %>
  </div>
  <div class="field">
    <%= f.label :contact_name, 'Contact Name' %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number, 'Phone Number' %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Save Contact", :class => 'btn btn-primary'%>
  </div>
<% end %>
