<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Contact Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.customer.customer_name %></td>
        <td><%= contact.contact_name %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.email %></td>
        <td><%= contact.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Restore', restore_contact_path(contact), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_contact_path(contact), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @contacts %>
  </div>
  <%= will_paginate @contacts, :container => false %>
</div>

<br>

<%= link_to 'Active Contacts', contacts_path, :class => 'btn btn-primary' %>