<h1>Editing Contact</h1>

<%= render 'form' %>

<%= link_to 'Show', @contact, :class =>"btn btn-primary", style:"color: white" %> |
<%= link_to 'Back', contacts_path, :class =>"btn btn-primary", style: "color: white" %>
