<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Contact Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.customer.customer_name %></td>
        <td><%= contact.contact_name %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @contacts, :model => 'contacts' %>
  </div>
  <%= will_paginate @contacts, :container => false %>
</div>

<br>

<%= link_to 'Download as .xlsx', contacts_path(:format => :xlsx), :class => "btn btn-primary", style: "color: white" %>