<p id="notice"><%= notice %></p>

<h1><%= @contact.contact_name %></h1>

<p>
  <strong>Customer:</strong>
  <%= link_to @contact.customer.customer_name, customer_path(@contact.customer) %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact), :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', contacts_path, :class =>"btn btn-primary", style: "color: white" %>
