<%= form_for(@qty_type) do |f| %>
  <% if @qty_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qty_type.errors.count, "error") %> prohibited this qty_type from being saved:</h2>

      <ul>
      <% @qty_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qty_type_name, 'Quantity Type' %><br>
    <%= f.text_field :qty_type_name %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Quantity Type', :class => 'btn btn-primary', style: "color: white"%>
  </div>
<% end %>
