<p id="notice"><%= notice %></p>

<h1>Listing Qty Types</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Qty Type Name</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @qty_types.each do |qty_type| %>
      <tr>
        <td><%= qty_type.qty_type_name %></td>
        <td><%= qty_type.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', qty_type %></td>
        <td><%= link_to 'Restore', restore_qty_type_path(qty_type), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_qty_type_path(qty_type), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @qty_types, :model => 'qty_types' %>
  </div>
  <%= will_paginate @qty_types, :container => false %>
</div>

<br>

<%= link_to 'Active Quantity Types', qty_types_path, :class => 'btn btn-primary', style: "color: white" %>
