<h1>Editing Qty Type</h1>

<%= render 'form' %>

<%= link_to 'Show', @qty_type, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', qty_types_path, :class => 'btn btn-primary', style: "color: white" %>
