<p id="notice"><%= notice %></p>

<h1>Listing Quantity Types</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Quantity Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qty_types.each do |qty_type| %>
      <tr>
        <td><%= qty_type.qty_type_name %></td>
        <td><%= link_to 'Show', qty_type %></td>
        <td><%= link_to 'Edit', edit_qty_type_path(qty_type) %></td>
        <td><%= link_to 'Delete', qty_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @qty_types, :model => 'qty_types' %>
  </div>
  <%= will_paginate @qty_types, :container => false %>
</div>

<br>

<%= link_to 'New Quantity type', new_qty_type_path, :class => 'btn btn-primary', style: "color: white" %>
<%= link_to 'Deleted', deleted_qty_types_path, :class => 'btn btn-primary', style: "color: white" %>