<p id="notice"><%= notice %></p>

<p>
  <strong>Qty type name:</strong>
  <%= @qty_type.qty_type_name %>
</p>


<%= link_to 'Edit', edit_qty_type_path(@qty_type), :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', qty_types_path, :class => 'btn btn-primary', style: "color: white" %>
