<div class="text-center">
  <img src="/Orca_V2.png">
<h2>Log in</h2>

  <p id="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" , :class =>"btn btn-primary", style: "color: white" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>