<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field sales-order-select">
    <%= f.label :customers_state, 'Select a Customer: ' %>
    <% if Integer(@so) > 0 %>
        <%= select_tag 'customer', options_from_collection_for_select(customers_with_credit, :customer_name, :customer_name, :selected => get_customer_from_so(@so)) %>
    <% else %>
        <%= select_tag 'customer', options_from_collection_for_select(customers_with_credit, :customer_name, :customer_name), :include_blank => true %>
    <% end %>
    <button class="btn btn-info" type="button" id="clear_sales_order_filter">Clear Filter</button>
    <br>
    <br>
    <div class="row">
    <%= f.label :sales_order_id, 'Sales Order' %><% if Integer(@so) > 0 %><%= link_to 'Back to Sales Order', sales_order_path(@so), :class => 'btn btn-primary', style: 'color: white; margin-left: 10px' %><% end %><br>
    <%= f.grouped_collection_select :sales_order_id, customers_with_credit, :sales_orders_with_balance, :customer_name, :id, :id, {:selected => @so, :include_blank => true} %>
    </div>
  </div>

  <% if Integer(@so) > 0 %>
    <div class="field so-balance-due">
      <div class="field sales_order">
        <label id="so_credit_label">Remaining Balance</label>
        <input readonly="readonly" type="text" id="so_credit" number="<%= '%.2f' % get_so_from_so(@so).order_balance_due %>" value="<%= to_indian_currency get_so_from_so(@so).order_balance_due %>">
      </div>
    </div>
  <% else %>
    <div class="field so-balance-due" style="display: none">
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_date, "Payment Date" %><br>
    <%= f.text_field :payment_date, {:id => 'datepicker', :readonly => true, :value => Date.today } %>
  </div>
  <div class="field">
    <%= f.label :payment_amt, "Payment Amount" %><br>
    <%= f.text_field :payment_amt %> <button type="button" class="btn btn-info" id="remainder">Remaining Balance</button>
  </div>

    <div class="actions">
    <%= f.submit "Create Payment", :class =>"btn btn-primary", style: "color: white; background: black" %>
  </div>
<% end %>
