<p id="notice"><%= notice %></p>

<h1>Listing Deleted Payments</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Payment Status</th>
    <th>Sales Order ID</th>
    <th>Payment Date</th>
    <th>Payment Amount</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_type.type_desc %></td>
        <td><%= payment.sales_order_id %></td>
        <td><%= payment.payment_date %></td>
        <td><%= to_indian_currency payment.payment_amt %></td>
        <td><%= payment.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Restore', restore_payment_path(payment), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_payment_path(payment), method: :post, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payments %>
  </div>
  <%= will_paginate @payments, :container => false %>
</div>

<br>

<%= link_to 'Active Payments', payments_path, :class => "btn btn-primary", style: "color: white"%>
