<h1>Editing Payment</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', payments_path, :class => 'btn btn-primary', style: "color: white" %>
