<p id="notice"><%= notice %></p>
<div class="container ">
<h1>Listing Payments</h1>
<br>
<h4>Filters:</h4>
<%= search_form_for @q do |f| %>
    <div class="col-md-3" id="col1">
      <%= f.label :payment_type, 'Payment Status:' %>
      <%= f.collection_select :payment_type_id_eq, PaymentType.joins(:payments).distinct.order(:type_desc => :asc), :id, :type_desc, include_blank: :true %>
      <br>
      <br>
      <%= f.label :sales_order, 'Sales Order Number:' %>
      <%= f.collection_select :sales_order_id_eq, SalesOrder.joins(:payments).distinct.order(:id => :asc), :id, :id, include_blank: :true %>
      <br>
      <%= f.submit 'Search', :class=>'btn btn-primary'%> <%= link_to 'Clear Filters', payments_path, {:class =>'btn btn-info', style: "color: white"} %>
      <br>
      <br>
    </div>
    <div class="col-md-8" id="col2">
      <%= f.label :payment_date, 'Payment Date:' %>
      <%= f.text_field :payment_date_gteq, {:class => 'datepicker'} %> to <%= f.text_field :payment_date_lteq, {:class => 'datepicker'} %>
      <br>
      <br>
      <%= f.label :customer_name, 'Customer Name' %>
      <%= f.collection_select :sales_order_customer_id_eq, Customer.joins(:payments).distinct.order(:customer_name => :asc), :id, :customer_name, :include_blank => true %>
    </div>
    <br>
    <br>

<% end %>
<br>
</div>
<div class="container text-center">
<table class="table-condensed table-striped ">
  <thead>
    <tr>
      <th><%= sort_link @q, :sales_order_customer_customer_name, 'Customer Name' %></th>
      <th><%= sort_link @q, :payment_type_type_desc, 'Payment Status' %></th>
      <th><%= sort_link @q, :sales_order_id, 'Sales Order Number' %></th>
      <th><%= sort_link @q, :payment_date, 'Payment Date' %></th>
      <th><%= sort_link @q, :payment_amt, 'Amount' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="text-left">
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.sales_order.customer.customer_name %></td>
        <td><%= payment.payment_type.type_desc %></td>
        <td class="text-center"><%= link_to payment.sales_order_id, sales_order_path(payment.sales_order) %></td>
        <td><%= l payment.payment_date %></td>
        <td class="text-right"><%= to_indian_currency(payment.payment_amt) %></td>
        <td><%= link_to 'Show', payment %></td>
        <!--<td><%= link_to 'Edit', edit_payment_path(payment) %></td>-->
        <td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-2"></div>
<div class="col-md-4 text-left">
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payments, :model => 'payment' %>
  </div>
  <%= will_paginate @payments, :container => false %>
</div>

<br>

<%= link_to 'Download as .xlsx', payments_path(format: :xlsx), :class => "btn btn-primary", style: "color: white" %>
</div>