<p id="notice"><%= notice %></p>

<p>
  <strong>Payment Status:</strong>
  <%= @payment.payment_type.type_desc %>
</p>

<p>
  <strong>Sales Order Number:</strong>
  <%= link_to @payment.sales_order_id, sales_order_path(@payment.sales_order_id) %>
</p>

<p>
  <strong>Sales Order Balance Remaining:</strong>
  <%= to_indian_currency @payment.sales_order.order_balance_due %>
</p>

<p>
  <strong>Payment Date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Payment Amount:</strong>
  <%= to_indian_currency @payment.payment_amt %>
</p>

<%= link_to 'Add Another Payment', new_payment_path(:so => @payment.sales_order), :class => 'btn btn-primary' %>
<%= link_to 'Back to Payments', payments_path, :class => 'btn btn-primary', style: "color: white" %>
