<%= form_for(@payment_type) do |f| %>
  <% if @payment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h2>

      <ul>
      <% @payment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_desc, 'Status Description' %><br>
    <%= f.text_field :type_desc %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Payment Status', :class => 'btn btn-primary', style: "color: white" %>
  </div>
<% end %>
