<p id="notice"><%= notice %></p>

<h1>Listing Payment Statuses</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Status Description</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @payment_types.each do |payment_type| %>
      <tr>
        <td><%= payment_type.type_desc %></td>
        <td><%= payment_type.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', payment_type %></td>
        <td><%= link_to 'Restore', restore_payment_type_path(payment_type), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_payment_type_path(payment_type), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payment_types, :model => 'payment_types' %>
  </div>
  <%= will_paginate @payment_types, :container => false %>
</div>

<br>

<%= link_to 'Active Payment Statuses', payment_types_path, :class => 'btn btn-primary', style: "color: white" %>
