<h1>Editing Payment Status</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment_type, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', payment_types_path, :class => 'btn btn-primary', style: "color: white" %>
