<p id="notice"><%= notice %></p>

<h1>Listing Payment Status</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Status Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_types.each do |payment_type| %>
      <tr>
        <td><%= payment_type.type_desc %></td>
        <td><%= link_to 'Show', payment_type %></td>
        <td><%= link_to 'Edit', edit_payment_type_path(payment_type) %></td>
        <td><%= link_to 'Delete', payment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payment_types, :model => 'payment_types' %>
  </div>
  <%= will_paginate @payment_types, :container => false %>
</div>

<br>

<%= link_to 'New Payment Status', new_payment_type_path, :class => 'btn btn-primary', style: "color: white" %> <%= link_to 'Deleted', deleted_payment_types_path, :class => 'btn btn-primary', style: "color: white" %>
