<p id="notice"><%= notice %></p>

<p>
  <strong>Status Description:</strong>
  <%= @payment_type.type_desc %>
</p>

<%= link_to 'Edit', edit_payment_type_path(@payment_type), :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', payment_types_path, :class => 'btn btn-primary', style: "color: white" %>
