<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country_name, 'Country Name' %><br>
    <%= f.text_field :country_name %>
  </div>
  <div class="field">
    <%= f.label :country_abbv , 'Country Abbreviation'%><br>
    <%= f.text_field :country_abbv %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Country', :class =>"btn btn-primary", style: "color: white" %>
  </div>
<% end %>
