<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Country Name</th>
    <th>Country Abbreviation</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @countries.each do |country| %>
      <tr>
        <td><%= country.country_name %></td>
        <td><%= country.country_abbv %></td>
        <td><%= country.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Restore', restore_country_path(country), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_country_path(country), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @countries, :model => 'countries' %>
  </div>
  <%= will_paginate @countries, :container => false %>
</div>

<br>

<%= link_to 'Active Countries', countries_path, :class =>"btn btn-primary", style: "color: white" %>
