<h1>Editing Country</h1>

<%= render 'form' %>

<%= link_to 'Show', @country, :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back to Countries Listing', countries_path, :class =>"btn btn-primary", style: "color: white" %>
