<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Country Name</th>
      <th>Country Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country_name %></td>
        <td><%= country.country_abbv %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Delete', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @countries, :model => 'countries' %>
  </div>
  <%= will_paginate @countries, :container => false %>
</div>

<br>

