<p id="notice"><%= notice %></p>

<p>
  <strong>Country name:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>Country abbv:</strong>
  <%= @country.country_abbv %>
</p>

<%= link_to 'Edit', edit_country_path(@country), :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back to Countries Listing', countries_path, :class =>"btn btn-primary", style: "color: white" %>
