<%= form_for(@sales_order_status) do |f| %>
  <% if @sales_order_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_order_status.errors.count, "error") %> prohibited this sales_order_status from being saved:</h2>

      <ul>
      <% @sales_order_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_desc, 'Status Description' %><br>
    <%= f.text_field :status_desc %>
  </div>

  <div class="actions">
    <%= f.submit "Save Sales Order Status", :class => "btn btn-primary", style: "color: white"%>
  </div>
<% end %>
