<p id="notice"><%= notice %></p>

<h1>Listing Sales Order Statuses</h1>

<table>
  <thead>
  <tr>
    <th>Status Description</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sales_order_statuses.each do |sales_order_status| %>
      <tr>
        <td><%= sales_order_status.status_desc %></td>
        <td><%= sales_order_status.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', sales_order_status %></td>
        <td><%= link_to 'Restore', restore_sales_order_status_path(sales_order_status), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_sales_order_status_path(sales_order_status), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_order_statuses, :model => 'sales_order_status' %>
  </div>
  <%= will_paginate @sales_order_statuses, :container => false %>
</div>

<br>

<%= link_to 'Active Sales Order Statuses', sales_order_statuses_path, :class => "btn btn-primary", style: "color: white" %>
