<h1>Editing Sales Order Status</h1>

<%= render 'form' %>

<%= link_to 'Show', @sales_order_status, :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', sales_order_statuses_path, :class => "btn btn-primary", style: "color: white" %>
