<p id="notice"><%= notice %></p>

<h1>Listing Sales Order Statuses</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Status Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_order_statuses.each do |sales_order_status| %>
      <tr>
        <td><%= sales_order_status.status_desc %></td>
        <td><%= link_to 'Show', sales_order_status %></td>
        <td><%= link_to 'Edit', edit_sales_order_status_path(sales_order_status) %></td>
        <td><%= link_to 'Delete', sales_order_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_order_statuses, :model => 'sales_order_status' %>
  </div>
  <%= will_paginate @sales_order_statuses, :container => false %>
</div>

<br>

<%= link_to 'New Sales Order Status', new_sales_order_status_path, :class =>"btn btn-primary", style: "color: white" %>
<%= link_to 'Deleted Sales Order Status', deleted_sales_order_statuses_path, :class =>"btn btn-primary", style: "color: white" %>
