<p id="notice"><%= notice %></p>

<p>
  <strong>Status desc:</strong>
  <%= @sales_order_status.status_desc %>
</p>

<%= link_to 'Edit', edit_sales_order_status_path(@sales_order_status), class: 'btn btn-primary' %> |
<%= link_to 'Back', sales_order_statuses_path, class: 'btn btn-primary' %>
