/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$font-stack: Helvetica Neue, Garamond
$primary-color: #000000

header
  font-size: medium

body
  font: 100% $font-stack
  color: $primary-color
  font-size: large

thead, th
  vertical-align: top
td
  text-align-all: left

table
  border: 1px solid black
  border-bottom: 2px solid black

.dropdown
  margin-top: 5px
  border: none

.dropdown-toggle
  border: none

.label
  display: inline-block
  width: 100px
  text-align: right

.btn
  border: none

.btn-primary, .btn-primary:hover, .btn-primary:visited
  font-size: medium
  background: #000000
  color: #ffffff
  border-color: #000000

.btn-primary:active
  background: #ffffff
  color: #000000
  border-color: #ffffff

.btn-info:visited
  color: white

.jumbotron
  background-color: transparent
  color: #000000
  margin-top: -30px


.centercont
  background-color: #ffffff
  color: #000000

.navbar
  background-color: black
  text-align: center
  padding-top: 10px
  margin-bottom: 0
  color: white

.btn-bottom
  background-color: #000000
  color: #ffffff
  font-size: large

.modal
  border: 1px solid black
  margin: 1px

.btn-signout, .btn-signout:hover
  background-color: transparent
  color: white
  margin: 0
  border-color: transparent

.signout-move
  padding-top: 10px
  padding-right: 10px
  color: white
  background-color: transparent

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content
  height: 450px

/* Set gray background lite green and 100% height */
.sidenav
  padding-top: 20px
  height: 100%

.splash
  background-image: -webkit-linear-gradient(90deg, #ffffff, #cff7ff 75%, #224182 100%)
  background-image: -moz-linear-gradient(90deg, #ffffff, #cff7ff 75%, #224182 100%)
  background-image: linear-gradient(90deg, #ffffff, #cff7ff 75%, #224182 100%)




/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px)
.sidenav
  height: auto
  padding: 5px

.row.content
  height: auto



/* new stuff */


/* color-code text for statuses/types/approval/etc to show what's good and what's bad */
.red
  color: #d60000

.green
  color: #00b500

.yellow
  color: #d48004

.declined
  color: #9b9b9b

/* outline class */
.box
  border: solid 1px black
  padding: 5px
  margin-bottom: 5px
  display: inline-block

.box h3
  margin-top: 0px
  font-size: 20px