<%= form_for(@payment_schedule) do |f| %>
  <% if @payment_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_schedule.errors.count, "error") %> prohibited this payment_schedule from being saved:</h2>

      <ul>
      <% @payment_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_length, 'Schedule Length' %><br>
    <%= f.number_field :schedule_length %>
    <%= ' Days' %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit 'Save Payment Schedule', :class => 'btn btn-primary', style: "color: white" %>
  </div>
<% end %>
