<p id="notice"><%= notice %></p>

<h1>Listing Payment Schedules</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Schedule Length</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @payment_schedules.each do |payment_schedule| %>
      <tr>
        <td><%= payment_schedule.schedule_length %></td>
        <td><%= payment_schedule.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', payment_schedule %></td>
        <td><%= link_to 'Restore', restore_payment_schedule_path(payment_schedule), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_payment_schedule_path(payment_schedule), method: :post, data: { confirm: 'Are you sure? You cannot undo this action.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payment_schedules, :model => 'payment_schedules' %>
  </div>
  <%= will_paginate @payment_schedules, :container => false %>
</div>

<br>

<%= link_to 'Active Payment Schedules', payment_schedules_path, :class => 'btn btn-primary', style: "color: white" %>
