<h1>Editing Payment Schedule</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment_schedule, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', payment_schedules_path, :class => 'btn btn-primary', style: "color: white" %>
