<p id="notice"><%= notice %></p>

<h1>Listing Payment Schedules</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Schedule Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_schedules.each do |payment_schedule| %>
      <tr>
        <td ><%= payment_schedule.schedule_length.to_s + ' days' %></td>
        <td><%= link_to 'Show', payment_schedule %></td>
        <td><%= link_to 'Edit', edit_payment_schedule_path(payment_schedule) %></td>
        <td><%= link_to 'Delete', payment_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @payment_schedules, :model => 'payment_schedules' %>
  </div>
  <%= will_paginate @payment_schedules, :container => false %>
</div>

<br>

<%= link_to 'New Payment schedule', new_payment_schedule_path, :class =>"btn btn-primary", style: "color: white" %>
<%= link_to 'Deleted', deleted_payment_schedules_path, :class =>"btn btn-primary", style: "color: white" %>
