<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule Length:</strong>
  <%= @payment_schedule.schedule_string %>
</p>

<%= link_to 'Edit', edit_payment_schedule_path(@payment_schedule), :class =>"btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', payment_schedules_path, :class =>"btn btn-primary", style: "color: white" %>
