<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'images/favicon/apple-touch-icon.png' %>">
<link rel="icon" type="image/png" href="<%= asset_path 'images/favicon/favicon-32x32.png' %>" sizes="32x32">
<link rel="icon" type="image/png" href="<%= asset_path 'images/favicon/favicon-16x16.png' %>" sizes="16x16">
<link rel="manifest" href="<%= asset_path 'images/favicon/manifest.json' %>">
<link rel="shortcut icon" href="<%= asset_path 'images/favicon/favicon.ico' %>">
<meta name="msapplication-config" content="<%= asset_path 'images/favicon/browserconfig.xml' %>">
<meta name="theme-color" content="#ffffff">