<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name, 'Product Name' %><br>
    <%= f.text_field :product_name %>
  </div>
  <h3>Product Sizes</h3>
    <div id='product_qties'>
      <%= f.fields_for :product_qties do |product_qty| %>
          <%= render 'product_qty_fields', :f => product_qty %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Size', f, :product_qties, class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <div class="actions">
    <%= f.submit 'Save Product', :class => 'btn btn-primary', style: "color: white"%>
  </div>
<% end %>
