<div class='nested-fields'>

<div class="field">
  <%= f.label :qty_type_id %><br>
  <%= f.collection_select :qty_type_id, QtyType.all, :id, :qty_type_name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<%= link_to_remove_association 'Remove Size', f, class: 'btn btn-primary' %>
</div>
<br>