<p id="notice"><%= notice %></p>

<h1>Listing Deleted Products</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Restore', restore_product_path(product), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_product_path(product), method: :post, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>

<br>

<%= link_to 'Active Products', products_path, :class => 'btn btn-primary', style: "color: white" %>
