<h1>Editing Product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product, :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back', products_path, :class => 'btn btn-primary', style: "color: white" %>
