<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @products, :model => 'product' %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>

<br>


<%= link_to 'Download as .xlsx', products_path(format: :xlsx), :class => 'btn btn-primary', style: "color: white" %>
