<p id="notice"><%= notice %></p>

<h1><%= @product.product_name %></h1>

<h3>Product Sizes</h3>
<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Size Type</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @product.product_qties.each do |product_qty| %>
      <tr>
        <td><%= product_qty.qty_type.qty_type_name %></td>
        <td><%= product_qty.description %></td>
        <td><%= link_to 'Show', product_qty %></td>
        <td><%= link_to 'Edit', edit_product_qty_path(product_qty) %></td>
        <td><%= link_to 'Delete', product_qty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-primary', style: "color: white" %> |
<%= link_to 'Back to Products', products_path, :class => 'btn btn-primary', style: "color: white" %>
