<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

    <div class="field">
      <%= f.label :admin %><br>
      <%= f.check_box :admin, {}, true, false %>
    </div>

  <p><%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary' %></p>
<% end %>

<h3><%= link_to 'Back to User Management', users_path, :class => 'btn btn-primary' %></h3>