<%= form_for(@sales_person) do |f| %>
  <% if @sales_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_person.errors.count, "error") %> prohibited this sales_person from being saved:</h2>

      <ul>
      <% @sales_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Country' %><br>
    <%= f.collection_select :country_id, @countries, :id, :country_name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label 'State' %><br>
    <%= f.grouped_collection_select :state_id, @countries, :states, :country_name, :id, :state_name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :first_name, 'First Name' %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit "Save Salesperson", :class => "btn btn-primary", style: "color: white"%>
  </div>
<% end %>
