<p id="notice"><%= notice %></p>

<h1>Listing Deleted Sales People</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>State</th>
    <th>Deleted At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sales_people.each do |sales_person| %>
      <tr>
        <td><%= sales_person.full_name %></td>
        <td><%= sales_person.state.country.country_name %></td>
        <td><%= sales_person.state.state_name %></td>
        <td><%= sales_person.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', sales_person %></td>
        <td><%= link_to 'Restore', restore_sales_person_path(sales_person), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_sales_person_path(sales_person), method: :post, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_people %>
  </div>
  <%= will_paginate @sales_people, :container => false %>
</div>

<br>

<%= link_to 'Active Salespeople', sales_people_path, :class => "btn btn-primary", style: "color: white" %>
