<h1>Editing Sales Person</h1>

<%= render 'form' %>

<%= link_to 'Show', @sales_person, :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', sales_people_path, :class => "btn btn-primary", style: "color: white" %>
