<p id="notice"><%= notice %></p>

<h1>Listing Sales People</h1>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_people.each do |sales_person| %>
      <tr>
        <td><%= sales_person.full_name %></td>
        <td><%= sales_person.country.country_name %></td>
        <td><%= sales_person.state.state_name %></td>
        <td><%= link_to 'Show', sales_person %></td>
        <td><%= link_to 'Edit', edit_sales_person_path(sales_person) %></td>
        <td><%= link_to 'Delete', sales_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_people, :model => 'sales_people' %>
  </div>
  <%= will_paginate @sales_people, :container => false %>
</div>

<br>

<%= link_to 'Download as .xlsx', sales_people_path(:format => :xlsx), :class => "btn btn-primary", style: "color: white" %>