<p id="notice"><%= notice %></p>

<h1><%= @sales_person.full_name %></h1>

<p>
  <strong>Location:</strong>
  <%= @sales_person.state.state_name + ", " + @sales_person.state.country.country_name %>
</p>

<h2>Sales Orders</h2>
<table class="table-striped table-condensed">
  <thead>
  <tr>
    <th><%= 'Order Status' %></th>
    <th><%= 'Sales Person' %></th>
    <th><%= 'Approved' %></th>
    <th><%= 'Order Date' %></th>
    <th><%= 'Due in Full Date' %></th>
    <th><%= 'Order Total' %></th>
    <th><%= 'Balance Due' %></th>
    <th><%= 'Balance Received' %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.sales_order_status.status_desc %></td>
        <td><%= @sales_person.full_name %></td>
        <td>
          <% if sales_order.is_approved %>
              &#10004;
          <% else %>
              &#10007;
          <% end %>
        </td>
        <td><%= l sales_order.order_date %></td>
        <td><%= l sales_order.order_due_in_full_date %></td>
        <td><%= to_indian_currency sales_order.order_grand_total %></td>
        <td><%= to_indian_currency sales_order.order_balance_due %></td>
        <td><%= to_indian_currency sales_order.order_balance_received %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
        <td><%= link_to 'Delete', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <% if @sales_person.sales_orders.length == 0 %>
      <tr>
        <td colspan="8">There are no sales orders on record for this sales person.</td>
      </tr>
  <% end %>
  </tbody>
</table>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_orders, :model => 'sales_orders' %>
  </div>
  <%= will_paginate @sales_orders, :container => false %>
</div>

<%= link_to 'Edit', edit_sales_person_path(@sales_person), :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', sales_people_path, :class => "btn btn-primary", style: "color: white" %>
