<%= form_for(@sales_order) do |f| %>
    <% if @sales_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>

          <ul>
            <% @sales_order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row box"><h3>Filter By:</h3>
      <%= f.label :customer_country, 'Country:'  %> <%= select_tag 'country', options_from_collection_for_select(Country.joins(:states).distinct, :country_name, :country_name), :prompt => '' %>
      <%= f.label :customer_state, 'State:'  %> <%= select_tag 'state', option_groups_from_collection_for_select(Country.joins(:states).distinct, :states, :country_name, :state_name, :state_name), :prompt => '' %>
      <button type="button" id="clear_customer_filter" class="btn btn-info">Clear Filter</button></div>

    <div class="field customer-select">
      <%= f.label :customer_id %><br>
      <%= f.grouped_collection_select :customer_id, State.joins(:customers).distinct, :customers, :state_name, :id, :customer_name, include_blank: '' %>
      <%= link_to 'Add New Customer', new_customer_path, data: { confirm: 'Are you sure? Data entered on this page will not be saved.' }, :class => 'btn btn-info' %>
      <br>
    </div>

    <div class="field calculated" style="display: none">
    </div>

    <div class="field">
      <%= f.label :sales_person_id, "Salesperson" %><br>
      <%= f.grouped_collection_select :sales_person_id, State.joins(:sales_people).distinct, :sales_people, :state_name, :id, :full_name, include_blank: '' %>
      <%= link_to 'Add New Sales Person', new_sales_person_path, data: { confirm: 'Are you sure? Data entered on this page will not be saved.' }, :class => 'btn btn-info' %>
    </div>
    <div class="field">
      <%= f.label :order_date, 'Order Date' %><br>
      <%= f.text_field :order_date, {:id => 'datepicker', :readonly => true, :value => Date.today} %>
    </div>
    <div class="field">
      <%= f.label :requested_schedule_duration, 'Payment Schedule Duration' %><br>
      <%= f.collection_select :payment_schedule_id, PaymentSchedule.all, :id, :schedule_length, :selected => 1 %> days
    </div>

    <h2>Add Lines to the Sales Order</h2>
    <div id='sales_order_lines'>
      <%= f.fields_for :sales_order_lines do |sales_order_line| %>
        <%= render 'sales_order_line_fields', :f => sales_order_line %>
      <% end %>
      <div class='links'>
        <h3><%= link_to_add_association 'Add a line', f, :sales_order_lines, :class => 'btn btn-primary' %></h3>
      </div>
    </div>

    <br>

    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal" id="run_sim">Run Order Simulation</button>
    <br><br>
    <!-- Modal -->
    <div id="myModal" tab-index="-1" class="modal modal-default" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Content -->
          <div id="modal-header">
            <h3 class="text-center">Order Simulation</h3>
          </div>

          <div class="modal-body">

            <div class="field">
              <%= f.label :order_grand_total, 'Order Grand Total: ' %>
              &#8377;<%= f.text_field :order_grand_total, {:readonly => true} %>
            </div>
            <div class="field">
              <%= f.label :order_due_in_full_date, 'Order Due in Full Date: ' %>
              <%= f.text_field :order_due_in_full_date, {:readonly => true, :id => 'order_due'} %>
            </div>
            <div class="field">
              <label id="potential_credit_label">Potential Debt: </label>
              &#8377;<input readonly="readonly" type="text" id="potential_credit"></input>
            </div>

          </div>

          <div class="modal-footer">

            <div>
              <%= f.label 'Approve Order?' %>
              <%= f.collection_radio_buttons :is_approved, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
            </div>

            <div class="actions">
              <%= f.submit "Submit", :class => 'btn btn-primary' %>
            </div>

          </div>

          </div>
        </div>
      </div>

<% end %>