<div class="container-fluid">
<div class='nested-fields'>
  <div class="col-md-4 pull-left">
  <div class="field row">
    <br>
    <%= f.label 'Product' %><br>
    <%= f.collection_select :product_id, Product.all, :id, :product_name, {include_blank: true} %>
  </div>
  <div class="field row">
    <%= f.label 'Size' %><br>
    <%= f.grouped_collection_select :product_qty_id, Product.all, :product_qties, :product_name, :id, :description, {include_blank: true} %>
  </div>
    <div class="field row">
      <%= f.label :product_total %><br>
      &#8377;<%= f.text_field :product_total, {:class => 'product_amt', :readonly => true} %>
    </div>

    <br>
    <br>
  </div>
  <div class="col-md-8 pull-right">
    <br>
  <div class="field row">
    <%= f.label :qty_requested %><br>
    <%= f.number_field :qty_requested %>
  </div>
  <div class="field row">
    <%= f.label :qty_approved %><br>
    <%= f.number_field :qty_approved %>
  </div>
    <div class="field row">
      <%= f.label :unit_price %><br>
      &#8377;<%= f.text_field :unit_price %>
    </div>

    <%= link_to_remove_association 'Remove Line', f, :class=>"btn btn-primary" %>
  </div>

</div>
</div>

