<div class="field sales_order">
  <label id="so_credit_label">Remaining Balance</label>
  <input readonly="readonly" type="text" id="so_credit" number="<%= '%.2f' % @sales_order.order_balance_due %>" value="<%= to_indian_currency @sales_order.order_balance_due %>">
</div>