<p id="notice"><%= notice %></p>

<h1>Listing Deleted Sales Orders</h1>

<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Order Status</th>
    <th>Customer</th>
    <th>SalesPerson</th>
    <th>Approved</th>
    <th>Order Date</th>
    <th>Due in Full Date</th>
    <th>Order Grand Total</th>
    <th>Balance Due</th>
    <th>Balance Received</th>
    <th>Deleted at</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sales_orders.each do |sales_order| %>
      <tr>
      <td><%= sales_order.id %></td>
      <% if sales_order.sales_order_status_id == 1 || (sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01) %>
          <td class="red">
      <% else %>
          <td>
      <% end %>
      <%= sales_order.sales_order_status.status_desc %>
      </td>
      <td><%= sales_order.customer.customer_name %></td>
      <td><%= sales_order.sales_person.first_name + ' ' + sales_order.sales_person.last_name %></td>
      <td class="text-center">
        <% if sales_order.is_approved %>
            &#10004;
        <% else %>
            &#10007;
        <% end %>
      </td>
      <td><%= l sales_order.order_date %></td>
      <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
          <td class="red">
      <% else %>
          <td>
      <% end %>
      <%= l sales_order.order_due_in_full_date %>
      </td>
      <td class="text-right"><%= to_indian_currency sales_order.order_grand_total %></td>
      <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
          <td class="text-right red">
      <% else %>
          <td class="text-right">
      <% end %><%= to_indian_currency sales_order.order_balance_due %></td>
      <td class="text-right"><%= to_indian_currency sales_order.order_balance_received %></td>
        <td><%= sales_order.deleted_at.to_s.to_date %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Restore', restore_sales_order_path(sales_order), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Permanently Delete', hard_delete_sales_order_path(sales_order), method: :post, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Active Sales Orders', sales_orders_path, :class=>"btn btn-primary", style: "color: white" %>
