<p id="notice"><%= notice %></p>

<h1>Sales Orders</h1>

<h4>Filters:</h4>
<%= search_form_for @q do |f| %>
    <div class="col-md-4" id="col1">
      <%= f.label :sales_person, 'Sales Person:' %>
      <%= f.collection_select :sales_person_id_eq, SalesPerson.all, :id, :full_name, include_blank: :true %>
      <br>
      <br>
      <%= f.label :status_desc, 'Order Status:' %>
      <%= f.collection_select :sales_order_status_id_eq, SalesOrderStatus.all, :id, :status_desc, include_blank: :true %>
      <br>
    </div>
    <div class="col-md-8" id="col2">
      <div class="row">
        <%= f.label :customer_name, 'Customer Name:' %>
      <%= f.collection_select :customer_id_eq, Customer.all, :id, :customer_name, include_blank: :true %>
        </div>
      <br>
      <div class="row text-left">
      <%= f.label :customer_state, 'State:' %><a>  </a>
      <%= f.collection_select :customer_state_id_eq, State.all.joins(:customers, :sales_people).distinct, :id, :state_name, {include_blank: :true} %>
      <br><br>
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-5 text-left" id="col1">
      <br>
      <%= f.submit 'Search', :class=>'btn btn-primary'%> <%= link_to 'Clear Filters', sales_orders_path, :class =>'btn btn-info', :style =>'text-align:left; color: white' %>
      <br>
    </div>
<% end %>
<div class="col-sm-8">
  <br>
<table class="table table-striped">
  <thead class="top-aligned-row">
    <tr>
      <th><%= sort_link @q, :id, 'ID' %></th>
      <th><%= sort_link @q, :sales_order_status_status_desc, 'Order Status' %></th>
      <th><%= sort_link @q, :customer_customer_name, 'Customer' %></th>
      <th><%= sort_link @q, :sales_person_last_name, [:sales_person_last_name, 'sales_person_first_name asc'], 'Sales Person' %></th>
      <th><%= sort_link @q, :is_approved, 'Approved' %></th>
      <th><%= sort_link @q, :order_date, 'Order Date', default_order: :desc %></th>
      <th><%= sort_link @q, :order_due_in_full_date, 'Due in Full Date', default_order: :desc %></th>
      <th><%= sort_link @q, :order_grand_total, 'Order Total' %></th>
      <th><%= sort_link @q, :order_balance_due, 'Balance Due' %></th>
      <th><%= sort_link @q, :order_balance_received, 'Balance Received' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <% if sales_order.is_approved %>
          <tr>
      <% else %>
          <tr class="declined">
      <% end %>
        <td><%= sales_order.id %></td>
        <% if sales_order.sales_order_status_id == 1 || (sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01) %>
          <td class="red">
        <% else %>
          <td>
        <% end %>
          <%= sales_order.sales_order_status.status_desc %>
        </td>
        <td><%= sales_order.customer.customer_name %></td>
        <td><%= sales_order.sales_person.first_name + ' ' + sales_order.sales_person.last_name %></td>
        <td class="text-center">
          <% if sales_order.is_approved %>
            &#10004;
          <% else %>
            &#10007;
          <% end %>
        </td>
        <td><%= l sales_order.order_date %></td>
        <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
          <td class="red">
        <% else %>
            <td>
        <% end %>
          <%= l sales_order.order_due_in_full_date %>
        </td>
        <td class="text-right"><%= to_indian_currency sales_order.order_grand_total %></td>
        <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
            <td class="text-right red">
        <% else %>
            <td class="text-right">
        <% end %><%= to_indian_currency sales_order.order_balance_due %></td>
        <td class="text-right"><%= to_indian_currency sales_order.order_balance_received %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
        <td><%= link_to 'Delete', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_orders, :model => 'sales_order' %>
  </div>
  <%= will_paginate @sales_orders, :container => false %>
</div>

<br>
<%= link_to 'Download as .xlsx', sales_orders_path(format: :xlsx), :class=>'btn btn-primary', style: "color: white" %>
<br>
</div>