<p id="notice"><%= notice %></p>

<p>
  <% if @sales_order.is_approved %>
      <strong class="green">Approved</strong>
  <% else %>
      <strong class="red">Not Approved</strong>
  <% end %>
</p>

<p>
  <strong>Order ID:</strong>
  <%= @sales_order.id %>
</p>

<p>
  <strong>Sales Order Status:</strong>
  <% if @sales_order.sales_order_status_id == 1 %>
      <span class="red"><%= @sales_order.sales_order_status.status_desc %></span>
  <% elsif @sales_order.sales_order_status_id == 3 %>
      <span class="green"><%= @sales_order.sales_order_status.status_desc %></span>
  <% else %>
      <span><%= @sales_order.sales_order_status.status_desc %></span>
  <% end %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sales_order.customer.customer_name %>
</p>

<p>
  <strong>Sales Person:</strong>
  <%= @sales_order.sales_person.full_name %>
</p>

<p>
  <strong>Order Date:</strong>
  <%= @sales_order.order_date %>
</p>

<p>
  <strong>Payment Schedule:</strong>
  <%= @sales_order.payment_schedule.schedule_string %>
</p>

<p>
  <strong>Order Due In Full Date:</strong>
  <%= @sales_order.order_due_in_full_date %>
</p>

<p>
  <strong>Order Grand Total:</strong>
  <%= to_indian_currency @sales_order.order_grand_total %>
</p>

<p>
  <strong>Order Balance Due:</strong>
  <%= to_indian_currency @sales_order.order_balance_due %>
</p>

<p>
  <strong>Order Balance Received:</strong>
  <%= to_indian_currency @sales_order.order_balance_received %>
</p>

<% if @sales_order.deleted_at %>
  <p>
    <strong>Deleted At:</strong>
    <%= @sales_order.deleted_at %>
  </p>
<% end %>

<h3>Products Ordered</h3>
<table class="table-condensed table-striped">
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Product Size</th>
    <th>Quantity Ordered</th>
    <th>Quantity Requested</th>
    <th>Unit Price</th>
    <th>Product Total</th>
  </tr>
  </thead>
  <tbody>
  <% @sales_order.sales_order_lines.each do |line| %>
    <tr>
      <td><%= line.product.product_name %></td>
      <td><%= line.product_qty.description %></td>
      <td>
        <% if line.qty_approved %>
          <%= line.qty_approved %>
        <% else %>
          <%= line.qty_requested %>
        <% end %>
      </td>
      <td>
        <% if line.qty_approved %>
          <%= line.qty_requested %>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= to_indian_currency line.unit_price %></td>
      <td><%= to_indian_currency line.product_total %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @sales_order.is_approved %>
  <h3>Payments Made
    <% if @sales_order.order_balance_due > 0.01 %>
        <%= link_to 'Add a Payment', new_payment_path(:so => @sales_order), :class => 'btn btn-primary', style: "color: white; margin-left: 10px;" %>
    <% end %>
  </h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Payment Date</th>
      <th>Payment Status</th>
      <th>Payment Amount</th>
    </tr>
    </thead>
    <tbody>
    <% Payment.order(payment_date: :asc).where(sales_order: @sales_order).each do |payment| %>
      <tr>
        <td><%= link_to payment.payment_date, payment_path(payment) %></td>
        <td><%= link_to payment.payment_type.type_desc, payment_path(payment) %></td>
        <td><%= link_to to_indian_currency(payment.payment_amt), payment_path(payment) %></td>
      </tr>
    <% end %>
    <% if @sales_order.payments.length == 0 %>
      <tr>
        <td colspan="3">No payments have been recorded for this order</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_sales_order_path(@sales_order), :class => "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back to Sales Orders', sales_orders_path, :class => "btn btn-primary", style: "color: white" %>