<p id="notice"><%= notice %></p>
<div class="col-md-2"></div>
<div class="col-md-10">
<h1>Year-To-Date Sales</h1>
<br>
<%= search_form_for @ytd_q, url: ytd_sales_path do |f| %>
    <div class="col-md-4" id="col1">
      <div class="row text-left">
        <%= f.label :customer_state, 'Choose a State:' %><a>  </a>
        <%= f.collection_select :customer_state_id_eq, State.all.joins(:customers).distinct, :id, :state_name, include_blank: :true %>
      </div>
      <br>
      <%= f.submit 'Search', :class=>'btn btn-primary'%> <%= link_to 'Clear Filter', ytd_sales_path, :class =>'btn btn-info', :style =>'text-align:left; color: white' %>
      <br>
    </div>
<% end %>
    <div class="col-md-8" id="col2">
      <div class="row">
        <%= label_tag :total_revenue, 'Total Sales:' %>
        <%= to_indian_currency @ytd_sales.sum(:order_grand_total) %>
      </div>
      <div class="row">
        <%= label_tag :total_credit, 'Total Outstanding Credit:' %>
        <%= to_indian_currency @ytd_sales.sum(:order_balance_due) %>
      </div>
      <div class="row">
        <%= label_tag :total_cash, 'Total Received:' %>
        <%= to_indian_currency @ytd_sales.sum(:order_balance_received) %>
      </div>
      <br>
      <div class="row">
        <%= label_tag :percent_credit, 'Percent of Sales in Credit:' %>
        <%= number_with_precision((@ytd_sales.sum(:order_balance_due) / @ytd_sales.sum(:order_grand_total)) * 100, :precision => 1) %> %
      </div>
    </div>
<div class="col-md-4">
  <br>
  <table class="table-condensed table-striped">
    <thead class="top-aligned-row">
    <tr>
      <th><%= sort_link @ytd_q, :customer_state_state_name, 'State' %></th>
      <th><%= sort_link @ytd_q, :sales_order_status_status_desc, 'Order Status' %></th>
      <th><%= sort_link @ytd_q, :customer_customer_name, 'Customer' %></th>
      <th><%= sort_link @ytd_q, :sales_person_last_name, [:sales_person_last_name, 'sales_person_first_name asc'], 'Sales Person' %></th>
      <th><%= sort_link @ytd_q, :order_date, default_order: :desc %></th>
      <th><%= sort_link @ytd_q, :order_due_in_full_date, 'Due in Full Date', default_order: :desc %></th>
      <th><%= sort_link @ytd_q, :order_grand_total, 'Order Total' %></th>
      <th><%= sort_link @ytd_q, :order_balance_due, 'Balance Due' %></th>
      <th><%= sort_link @ytd_q, :order_balance_received, 'Balance Received' %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @ytd_sales.each do |sales_order| %>
        <% if sales_order.is_approved %>
            <tr>
        <% else %>
            <tr class="declined">
        <% end %>
          <td><%= sales_order.customer.state.state_name %></td>
          <% if sales_order.sales_order_status_id == 1 || (sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01) %>
              <td class="red">
          <% else %>
              <td>
          <% end %>
          <%= sales_order.sales_order_status.status_desc %>
          </td>
          <td><%= sales_order.customer.customer_name %></td>
          <td><%= sales_order.sales_person.first_name + ' ' + sales_order.sales_person.last_name %></td>
          <td><%= l sales_order.order_date %></td>
          <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
              <td class="red">
          <% else %>
              <td>
          <% end %>
          <%= l sales_order.order_due_in_full_date %>
          </td>
          <td class="text-right"><%= to_indian_currency sales_order.order_grand_total %></td>
          <% if sales_order.order_due_in_full_date < Date.today && sales_order.order_balance_due > 0.01 %>
              <td class="text-right red">
          <% else %>
              <td class="text-right">
          <% end %><%= to_indian_currency sales_order.order_balance_due %></td>
          <td class="text-right"><%= to_indian_currency sales_order.order_balance_received %></td>
          <td><%= link_to 'Show', sales_order %></td>
          <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
          <td><%= link_to 'Delete', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @ytd_sales, :model => 'sales_order' %>
    </div>
    <%= will_paginate @ytd_sales, :container => false %>
  </div>

  <br>
  <%= link_to 'Download as .xlsx', ytd_sales_path(format: :xlsx), :class=>'btn btn-primary', style: "color: white", :id => 'download' %>
  <br>
</div>
</div>