<!DOCTYPE html>
<html>
<head>
  <title>ORCA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" , initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<% if user_signed_in? %>
    <div class="container-fluid splash">
      <div class="col-md-2 signout-move">
        <img src="/OALLOGO_Website-1.png">
      </div>
      <div class="col-md-10">

        <div class="row text-right signout-move">User: <%= current_user.email %>
          <br><%= link_to(' SignOut ', destroy_user_session_path, :class => 'btn', :method => :delete, style: "color: white") %>
          <span class="glyphicon glyphicon-log-out"></span></div>
        <div class="row"><br></div>
        <div class="row"><br></div>
        <div class="row"><br></div>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--</button>-->
          <%= link_to "ORCA", root_path, :class => 'btn btn-primary', style: "padding-top: 5px; color: white" %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav pull-right">
            <!--Dropdown for Sales Orders-->
            <li>
              <div class="dropdown">
                <button class="btn-primary dropdown-toggle" style="padding-top: 3px" type="button" id="menu1" data-toggle="dropdown">Sales
                  Order Management
                  <span class="caret"></span></button>
                <ul class="dropdown-menu { background-color: black; }" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" href="<%= sales_orders_path %>">Sales Orders Listing</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" href="<%= new_sales_order_path %>">Create New Sales Order</a></li>
                  <li role="presentation"><a role="menuitem" href="<%= ytd_sales_path %>">Report - YTD Sales Orders</a>
                  </li>
                  <% if current_user.admin? %>
                      <li role="presentation">
                        <a role="menuitem" href="<%= deleted_sales_orders_path %>">Deleted Sales Orders</a></li>
                  <% end %>

                </ul>
              </div>
            </li>
            <!--Dropdown for Payments       -->
            <li>
              <div class="dropdown">
                <button class="btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Payment
                  Management
                  <span class="caret"></span></button>
                <ul class="dropdown-menu { background-color: black; }" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" href="<%= payments_path %>">Payments Listing</a></li>
                  <li role="presentation"><a role="menuitem" href="<%= new_payment_path %>">Create New Payment</a></li>
                  <% if current_user.admin? %>
                      <li role="presentation"><a role="menuitem" href="<%= deleted_payments_url %>">Deleted Payments</a>
                      </li>
                  <% end %>

                </ul>
              </div>
            </li>
            <!-- Dropdown for Testing Customers/contacts etc -->
            <li>
              <div class="dropdown">
                <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Resource Management
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Customer Management <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li><a role="presentation" tabindex="-1" href="<%= customers_path %>">Customers Listing</a></li>
                      <li><a role="presentation" tabindex="-1" href="<%= new_customer_path %>">Create New Customer</a>
                      </li>
                      <% if current_user.admin? %>
                          <li><a role="presentation" tabindex="-1" href="<%= deleted_customers_path %>">Deleted
                            Customers</a></li>
                      <% end %>
                    </ul>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Contact Management <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li><a role="presentation" tabindex="-1" href="<%= contacts_path %>">Contacts Listing</a></li>
                      <li><a role="presentation" tabindex="-1" href="<%= new_contact_path %>">Create New Contact</a>
                      </li>
                      <% if current_user.admin? %>
                          <li><a role="presentation" tabindex="-1" href="<%= deleted_contacts_path %>">Deleted
                            Contacts</a></li>
                      <% end %>
                    </ul>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Product Management <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li><a role="presentation" tabindex="-1" href="<%= products_path %>">Products Listing</a></li>
                      <li><a role="presentation" tabindex="-1" href="<%= new_product_path %>">Create New Product</a>
                      </li>
                      <% if current_user.admin? %>
                          <li><a role="presentation" tabindex="-1" href="<%= deleted_products_path %>">Deleted
                            Products</a></li>
                      <% end %>
                    </ul>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Sales Person Management <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li><a role="presentation" tabindex="-1" href="<%= sales_people_path %>">Sales People Listing</a>
                      </li>
                      <li><a role="presentation" tabindex="-1" href="<%= new_sales_person_path %>">Create New Sales
                        Person</a></li>
                      <% if current_user.admin? %>
                          <li><a role="presentation" tabindex="-1" href="<%= deleted_sales_people_path %>">Deleted Sales
                            People</a></li>
                      <% end %>
                    </ul>
                </ul>
              </div>
            </li>
            <!--&lt;!&ndash;Dropdown for Customers        &ndash;&gt;-->
            <!--<li>-->
            <!--<div class="dropdown">-->
            <!--<button class="btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Customer Management-->
            <!--<span class="caret"></span></button>-->
            <!--<ul class="dropdown-menu { background-color: black; }" role="menu" aria-labelledby="menu1">-->
            <!--<li role="presentation"><a role="menuitem" href="<%= customers_path %>">Customers Listing</a></li>-->
            <!--<li role="presentation"><a role="menuitem" href="<%= new_customer_path %>">Adding New Customers</a></li>-->
            <!--
            <% if current_user.admin? %>-->
                <!--<li role="presentation"><a role="menuitem" href="<%= deleted_customers_path %>">Deleted Customers</a></li>-->
                <!--
            <% end %>-->

            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->
            <!--Administration Dropdown -->
            <% if current_user.admin? %>
                <li>
                  <div class="dropdown">
                    <button class="btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Administrator
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right { background-color: black; }" role="menu" aria-labelledby="menu1">
                      <!-- tier 1 -->
                      <li role="presentation"><a role="menuitem" href="<%= users_path %>">User Management</a></li>
                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">Database Management <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                          <!-- tier 1 -->
                          <!-- tier 2 -->
                          <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Country Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= countries_path %>">Countries Listing</a>
                              </li>
                              <li><a role="presentation" tabindex="-1" href="<%= new_country_path %>">Create New
                                Country</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_countries_path %>">Deleted
                                Countries</a></li>
                            </ul>
                          <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">State Management <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= states_path %>">States Listing</a>
                              </li>
                              <li>
                                <a role="presentation" tabindex="-1" href="<%= new_state_path %>">Create New State</a>
                              </li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_states_path %>">Deleted
                                States</a></li>
                            </ul>
                          <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Customer Status Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= customer_statuses_path %>">Customer
                                Statuses Listing</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= new_customer_status_path %>">Create New
                                Customer Status</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_customer_statuses_path %>">Deleted
                                Customer Statuses</a></li>
                            </ul>
                          <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">Product Quantities
                            Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li>
                                <a role="presentation" tabindex="-1" href="<%= product_qties_path %>">Product Quantity
                                  Listing</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= new_product_qty_path %>">Create New
                                Product Quantity</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_product_qties_path %>">Deleted
                                Product Quantities</a></li>
                            </ul>
                          <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">Payment Schedule
                            Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= payment_schedules_path %>">Payment
                                Schedules Listing</a></li>
                              <li>
                                <a role="presentation" tabindex="-1" href="<%= new_payment_schedule_path %>">Create New
                                  Payment Schedule</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_payment_schedules_path %>">Deleted
                                Payment Schedules</a></li>
                            </ul>
                          <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">Payment Status
                            Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= payment_types_path %>">Payment Statuses
                                Listing</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= new_payment_type_path %>">Create New
                                Payment Status</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_payment_types_path %>">Deleted
                                Payment Statuses</a></li>
                            </ul>
                          <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Quantity Type Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a role="presentation" tabindex="-1" href="<%= qty_types_path %>">Quantity Types
                                Listing</a></li>
                              <li>
                                <a role="presentation" tabindex="-1" href="<%= new_qty_type_path %>">Create New Quantity
                                  Type</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_qty_types_path %>">Deleted
                                Quantity Types</a></li>
                            </ul>
                          <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">Sales Order Status
                            Management<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li>
                                <a role="presentation" tabindex="-1" href="<%= sales_order_statuses_path %>">Sales Order
                                  Statuses Listing</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= new_sales_order_status_path %>">Create
                                New Sales Order Status</a></li>
                              <li><a role="presentation" tabindex="-1" href="<%= deleted_sales_order_statuses_path %>">Deleted
                                Sales Order Statuses</a></li>
                            </ul>
                        </ul>
            <% end %>
            </ul>
            </div>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right ">
<% else %>
<% end %>
</ul>
</div>
</div>
</nav>
<div class="container-fluid text-center">
  <div class="row content centercont">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left centercont">

      <%= yield %>
    </div>
    <div class="col-sm-2 sidenav"></div>
  </div>
</div>
<footer class="container-fluid text-center">
  <br><br><br><br><br>
  <img src="/Rogue One Logo2.png">
</footer>

</body>
</html>
