<%= form_for(@sales_order_line) do |f| %>
  <% if @sales_order_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_order_line.errors.count, "error") %> prohibited this sales_order_line from being saved:</h2>

      <ul>
      <% @sales_order_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :qty_requested %><br>
    <%= f.number_field :qty_requested %>
  </div>
  <div class="field">
    <%= f.label :qty_approved %><br>
    <%= f.number_field :qty_approved %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br>
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :product_total %><br>
    <%= f.text_field :product_total %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
