<p id="notice"><%= notice %></p>

<h1>Listing Sales Order Lines</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Sales Order</th>
      <th>Product</th>
      <th>Size</th>
      <th>Qty requested</th>
      <th>Qty approved</th>
      <th>Unit price</th>
      <th>Product total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_order_lines.each do |sales_order_line| %>
      <tr>
        <td><%= sales_order_line.sales_order_id %></td>
        <td><%= sales_order_line.product_qty.product.product_name %></td>
        <td><%= sales_order_line.product_qty.description %></td>
        <td style="text-align:center"><%= sales_order_line.qty_requested %></td>
        <td style="text-align:center"><%= sales_order_line.qty_approved %></td>
        <td style="text-align:right"><%= '%.2f' % sales_order_line.unit_price %></td>
        <td style="text-align:right"><%= '%.2f' % sales_order_line.product_total %></td>
        <td><%= link_to 'Show', sales_order_line %></td>
        <td><%= link_to 'Edit', edit_sales_order_line_path(sales_order_line) %></td>
        <td><%= link_to 'Delete', sales_order_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @sales_order_lines, :model => 'sales_order_line' %>
  </div>
  <%= will_paginate @sales_order_lines, :container => false %>
</div>

<br>

<%= link_to 'New Sales order line', new_sales_order_line_path %> <%= link_to 'Deleted', deleted_sales_order_lines_path %>
