<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sales_order_line.product_id %>
</p>

<p>
  <strong>Qty requested:</strong>
  <%= @sales_order_line.qty_requested %>
</p>

<p>
  <strong>Qty approved:</strong>
  <%= @sales_order_line.qty_approved %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= '%.2f' % @sales_order_line.unit_price %>
</p>

<p>
  <strong>Product total:</strong>
  <%= '%.2f' % @sales_order_line.product_total %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @sales_order_line.deleted_at %>
</p>

<%= link_to 'Edit', edit_sales_order_line_path(@sales_order_line) %> |
<%= link_to 'Back', sales_order_lines_path %>
